%h2 Help

.row
  .span6
    %h4 Lots of 'Invalid password' messages
    %p You forgot to enter the relaypassword, or maybe the server admin gave you the wrong one. Ask for the tv_relaypassword and tv_password of the server and try them both.

.row
  .span6
    %h4 GameUI_ServerRejectInvalidSteamCertLen
    %p You tried to connect to the gameserver, not the STV, you dummy.

.row
  .span6
    %h4 My relay disappeared!
    %p Either someone killed your poor relay, or it got killed by the automatic relay killer (happens every morning).
